<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_purchase_contract"
        name="ทะเบียนสัญญา"
        parent="purchase.menu_procurement_management"
        action="action_purchase_contract"
        sequence="25"
        groups="purchase.group_purchase_user,purchase_request.group_purchase_request_user"
    />
</odoo>
